{
	"extends": [
		"react-app",
		"react-app/jest"
	],
	"ignorePatterns": ["build/*", "public/*"],
	"rules": {
		"indent": ["error", "tab"],
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"]
	}
}