.App {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App-header {
	background-color: #282c34;
	min-height: 8vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-body {
	margin: 40px;
	display: flex;
	flex-direction: row;
}

.App-controls {
	margin-left: 40px;
}

.App-edit-mode {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.App-edit-mode button {
	padding: 10px;
}

.App-edit-mode > :first-child {
	margin-right: 20px;
}

.App-selected-mode {
	padding: 14px;
	background-color: lime;
}

.App-message {
	margin-top: 20px;
}